<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{dweller.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{dweller.buildName}} {{dweller.aptNumber}}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="row">
      <div class="col-12">
        One of three columns
      </div>
      <!-- <div class="col-3">
        Two of three columns
      </div> -->
    </div>
    <!-- <a href="#" class="card-link">Card link</a> -->
    <button type="button" class="btn col-12" (click)="showModal()">Detalhes</button>
  </div>
</div>
