<div class="input-group mb-3 col-md-5">
  <input
    type="text"
    class="form-control"
    placeholder="Nome condominiado"
    aria-label="Nome condominiado"
    aria-describedby="button-addon2"
    (input)="onKeyPress($event)"
  />
</div>

<ng-container *ngIf="!loaderStatus">
  <div class="container" *ngFor="let d of dwellers">
    <app-dweller-card [dweller]="d"></app-dweller-card>
  </div>
  <div *ngIf="this.dwellers.length < 1" style="text-align: center; margin-top: 20%;">
    <span>Não foram encontrados moradores :( <br> Por favor, verifique o campo de busca e tente novamente</span>
  </div>
</ng-container>

<ng-container *ngIf="loaderStatus">
  <app-loading></app-loading>
</ng-container>
